<section ng-controller='ContentController' ng-init='init()'>
  <section class='medium-12 columns'>
    <h1>
      About XIRI [zeer-ee]
    </h1>
    <p class='body-text'>
      XIRI is an independent UI/UX and development company based in Denver, CO. Our approach bridges the disciplines of design and technology to craft interactive experiences that people love to use. With over 15 years of experience in UI and web, we’ve worked with just about every size and type of client from all industries. At XIRI, we build brands, develop sites and drink a lot of coffee in the process.
    </p>
  </section>
</section>
