<div class='row' ng-controller='GettingStartedController' ng-init='init()'>
  <section class='home-container'>
    <row>
      <section class='margin top jumbo'>
        <h2 class='text-color primary'>About Potion</h2>
        <p class='body-text'>
          Potion is a CSS framework built by me for me. It's a culmination of years of building client projects where I found myself retyping code, looking for snippets I'd used before, and generally just wasting time with initial setup. It's clean, efficient and most importantly... speed optimized. Potion is built it on top of
          <a href='http://sass-lang.com' target='new'>SASS</a>
          and utilizes
          <a href='http://www.angularjs.org' target='new'>AngularJS</a>
          and it's core for single page app routing, creating custom DOM elements and more.
        </p>
        <a class='highlight secondary wide margin bottom lg' href='' id='gotosupport'>Click here for details on browser support.</a>
      </section>
      <div class='angular-sass-box panel panel-thin margin bottom lg potion-logo md-12 col'>
        <img alt='Angular, SASS and Potion logos' src='img/angular+sass.png'>
      </div>
      <p class='md-6 lg-6 col body-text'>Don't get me wrong, I love some of the bigger frameworks out there, but they can tend to get heavy and bloated, and to be honest... I just wanted something I could call my own. Potion is clean, minimal, mobile first and speed optimized. It only includes the things I find myself using most in my day to day projects... grids, general layout, styling and some very basic components like modals, buttons, etc.</p>
      <p class='md-6 lg-6 col body-text'>Feel free to use it if you find value, or fork it off of Github and give me a pull request if you have ways to improve! Please just keep in mind that potion is still in it's infancy. I have many future enhancements planned, so I highly suggest decoupling your own styles from the core of Potion so that with future upgrades, you have less headache.</p>
    </row>
    <span class='md-12 lg-12 xl-12 col anchornav margin top xl rule'></span>
    <row class='main-container'>
      <section class='sm-hidden md-5 lg-3 xl-3 col bower-logo'>
        <img alt='Bower Dependency Manager Logo' src='img/bower_logo.png'>
      </section>
      <section class='md-7 lg-9 xl-9 col'>
        <h3 class='text-color primary'>Quick Install with Bower</h3>
        <p class='body-text'>
          Potion is available for install via
          <a href='www.bower.io'>Bower Package Manager.</a>
          Assuming you already have Node, Bower and Gulp installed, all you need to run is the command:
        </p>
        <code class='md-12 col margin bottom md'>bower install potion</code>
        <p class='body-text margin bottom lg'>After Bower has done it's magic, you will need to move everything from the root of the bower_components/potion folder to the main root of your folder.</p>
        <p class='margin bottom lg text-bold'>Your folder structure should now look like this:</p>
        <ul class='home-page-list md-12 lg-12 xl-12'>
          <li class='md-6 lg-3 col'>> bower_components/</li>
          <li class='md-6 lg-3 col'>> bower.json</li>
          <li class='md-6 lg-3 col'>> components/</li>
          <li class='md-6 lg-3 col'>> css/</li>
          <li class='md-6 lg-3 col'>> favicon.ico</li>
          <li class='md-6 lg-3 col'>> gulpfile.js</li>
          <li class='md-6 lg-3 col'>> humans.txt</li>
          <li class='md-6 lg-3 col'>> img/</li>
          <li class='md-6 lg-3 col'>> index.html</li>
          <li class='md-6 lg-3 col'>> js/</li>
          <li class='md-6 lg-3 col'>> package.json</li>
          <li class='md-6 lg-3 col'>> partials/</li>
          <li class='md-6 lg-3 col'>> README.md</li>
          <li class='md-6 lg-3 col'>> robots.txt</li>
        </ul>
        <row>
          <p class='body-text margin top jumbo md-12 lg-12 xl-12'>
            Now you can run
            <span class='text-bold'>npm install</span>
            and
            <span class='text-bold'>bower install</span>
            and you are ready to go!
          </p>
          <p class='margin top bottom lg text-italic md-12 lg-12 xl-12'>If you do not have some of these dependencies installed like node, gulp, etc.. you can find more detailed instructions below.</p>
        </row>
      </section>
    </row>
    <span class='md-12 col anchornav margin top xl rule'></span>
    <row class='main-container margin top md'>
      <h3 class='text-color primary'>What's included</h3>
      <p class='body-text margin bottom lg'>Potion's core includes a standardized set of modules: base, global and modules.</p>
      <h4 class='text-bold'>Base:</h4>
      <ul class='list bulleted-list'>
        <li>
          <span class='text-color primary'>grids.scss:</span>
          Core code for creating the responsive grid system behind Potion
        </li>
        <li>
          <span class='text-color primary'>helpers.scss:</span>
          A set of OOCSS (Object oriented CSS) helper classes to use throughout your HTML templates for quick margins, font styles, and more
        </li>
        <li>
          <span class='text-color primary'>main.scss:</span>
          A catch all style sheet for global styles
        </li>
        <li>
          <span class='text-color primary'>normalize.scss:</span>
          A set of styles used for any project to normalize your baseline CSS and HTML
        </li>
        <li>
          <span class='text-color primary'>reset.scss:</span>
          Global resets to remove standard browser padding, margins, etc
        </li>
        <li>
          <span class='text-color primary'>type.scss:</span>
          Typography styles
        </li>
      </ul>
      <h4 class='text-bold'>Global:</h4>
      <ul class='list bulleted-list md-12 col'>
        <li>
          <span class='text-color primary'>mixins.scss:</span>
          Custom mixins for Potion used by all other .scss files
        </li>
        <li>
          <span class='text-color primary'>vars.scss:</span>
          Potion's variables used by all other .scss files. These can be overridden to change global colors, fonts, sizes, etc.
        </li>
      </ul>
      <h4 class='text-bold'>Modules:</h4>
      <ul class='list bulleted-list margin bottom sm'>
        <li>
          <span class='text-color primary'>accordions.scss:</span>
          Classes for styling Potion's custom accordions
        </li>
        <li>
          <span class='text-color primary'>alerts.scss:</span>
          Classes for styling basic alerts
        </li>
        <li>
          <span class='text-color primary'>buttons.scss:</span>
          Classes for Potion's custom button classes
        </li>
        <li>
          <span class='text-color primary'>code.scss:</span>
          Classes for styling code blocks within your HTML
        </li>
        <li>
          <span class='text-color primary'>forms.scss:</span>
          Classes for styling forms and form elements
        </li>
        <li>
          <span class='text-color primary'>headings.scss:</span>
          Classes for styling h1,h2,h3,h4,h5,h6 tags
        </li>
        <li>
          <span class='text-color primary'>icons.scss:</span>
          Classes for Potion's built in custom icon set
        </li>
        <li>
          <span class='text-color primary'>images.scss:</span>
          Classes for images and image positioning
        </li>
        <li>
          <span class='text-color primary'>lists.scss:</span>
          Classes for styling ordered and unordered lists
        </li>
        <li>
          <span class='text-color primary'>magictabs.scss:</span>
          Classes for Potion's responsive tab system
        </li>
        <li>
          <span class='text-color primary'>modals.scss:</span>
          Classes for styling Potion's custom modals and pop-ups
        </li>
        <li>
          <span class='text-color primary'>nav.scss:</span>
          Classes for styling desktop and mobile navigation
        </li>
        <li>
          <span class='text-color primary'>panels.scss:</span>
          Classes for styling alert panels
        </li>
        <li>
          <span class='text-color primary'>rules.scss:</span>
          Classes for styling hr tags and dividers
        </li>
        <li>
          <span class='text-color primary'>superheros.scss:</span>
          Classes for styling hero elements and banners
        </li>
        <li>
          <span class='text-color primary'>tables.scss:</span>
          Classes for styling Potion's responsive table system
        </li>
        <li>
          <span class='text-color primary'>tooltips.scss:</span>
          Classes for styling tooltips
        </li>
      </ul>
    </row>
    <span class='md-12 col anchornav margin top xl rule'></span>
    <row class='main-container margin top md'>
      <h3 class='text-color primary'>Installing Node</h3>
      <p class='body-text'>
        Potion uses Node to manage your app dependencies for utilities like Gulp, etc. To install Node, visit
        <a href='http://nodejs.org/download/' target='blank'>nodejs.org/download/</a>
        and download the installer package. After you have completed the install, you can now use commands the npm install command:
      </p>
      <code class='margin top sm'>npm install yourmodulehere</code>
      <p class='body-text'>You will need to use the npm install command below to install things like Gulp and Bower.</p>
    </row>
    <span class='md-12 col anchornav margin top xl rule'></span>
    <row class='main-container margin top md'>
      <h3 class='text-color primary'>
        Installing
        <a href='http://gulpjs.com' target='blank'>Gulp</a>
      </h3>
      <p class='body-text'>Gulp is the task runner that Potion leverages for build process and efficiency. It helps streamline the build process, compresses and minifies your code and processes SASS, etc. To install Gulp, you need to have first downloaded and installed node.js (which includes npm).</p>
      <p class='body-text'>Then, from the command line you can install the gulp-cli globally with:</p>
      <code>npm install -g gulp</code>
      <p class='body-text'>Change directory (cd/) to the root directory of your project and then use the command:</p>
      <code>npm install</code>
      <p class='body-text'>This command will use the package.json file within Potion to automagically install the necessary local dependencies for the project. When that process is completed, you'll be able to run the various Gulp commands provides from the command line. The default command is:</p>
      <code>gulp</code>
      <p class='body-text'>
        This is the command which runs all gulp tasks, creates a watch process and recompiles everything on every change to your code. You can use
        <span class='text-bold'>Ctrl C</span>
        to cancel the task at any time.
      </p>
    </row>
    <span class='md-12 col anchornav margin top xl rule'></span>
    <row class='main-container margin top md'>
      <h3 class='text-color primary'>
        Installing
        <a href='http://www.bower.io' target='blank'>Bower</a>
      </h3>
      <p class='body-text'>
        Bower is a front end dependency manager to take care of all your libraries like jQuery, Angular, etc. To install Bower, visit
        <a href='http://bower.io/' target='blank'>bower.io</a>
        or you can install globally via command line with:
      </p>
      <code>npm install -g bower</code>
      <p class='body-text'>After bower is installed globally, switch to the root of your new App fodler and from the command line type:</p>
      <code>bower install potion</code>
      <p class='body-text'>You can now use the instructions from the Quick Install at the top of the page to finish up the process.</p>
    </row>
    <span class='md-12 col anchornav margin top xl rule'></span>
    <row class='main-container margin top md'>
      <h3 class='text-color primary'>That's it! You're now ready to use Potion.</h3>
      <p class='body-text'>You can now run gulp from the command line and start building the next Facebook!</p>
    </row>
    <span class='md-12 col anchornav margin top xl rule'></span>
    <row class='margin top md' id='support'>
      <section class='ie-logo sm-hidden md-3 lg-2 xl-1 col'>
        <img alt='Internet Explorer Logo' src='img/ie_logo.png'>
      </section>
      <section class='sm-12 md-9 lg-10 xl-11 col'>
        <h3 class='text-color primary'>A note about browser support.</h3>
        <p class='body-text'>Potion endeavor's to support as many browsers and browser versions as possible. Most modern browsers are fully supported, however due to Internet Explorer's limited support of flexbox, custom elements, etc., Potion only supports IE9 and above. If your project or app is required to support IE8 or below, then Potion probably isn't for you :(</p>
      </section>
    </row>
    <button class='btn btn-secondary scroll-to-top' id='scrollToTop'>
      <span>Back to Top</span>
    </button>
  </section>
  <!-- /.homeContainer -->
</div>
<!-- /.homeCtrl -->
