/*
  ____  _   _ ____  _____ ____  _   _ _____ ____   ___  ____
 / ___|| | | |  _ \| ____|  _ \| | | | ____|  _ \ / _ \/ ___|
 \___ \| | | | |_) |  _| | |_) | |_| |  _| | |_) | | | \___ \
  ___) | |_| |  __/| |___|  _ <|  _  | |___|  _ <| |_| |___) |
 |____/ \___/|_|   |_____|_| \_\_| |_|_____|_| \_\\___/|____/
*/


/* ==========================================================================
   %% Styling for Potion Superheros %%
   ========================================================================== */

.superhero {
  position: relative;
  min-height: 300px;
  padding: $unit-xxl 0 $unit-jumbo $unit-jumbo;

  h2 {
      color: $white;
      font-size: $font-size-jumbo;
      font-family: $font-2;
      font-weight: 200;
      padding: $unit 0 0 0;

      @include mq(md) {
        font-size: $font-size-jumbo;
        line-height: $base-line-height * 2;
      }

      @include mq(sm) {
        font-size: $base-line-height;
        line-height: $base-line-height;
      }
    }

    h4 {
      color: $white;
      font-size: $font-size;
      margin-left: .25em;

      @include mq(sm) {
        line-height: $base-line-height;
        font-size: .95rem;
      }
    }

    a.btn {
      margin-left: $unit;
      margin-bottom: $unit;
    }

  div#version {
    color: darken($color-primary, 22%);
  }

  @include mq(sm) {
    padding: 2em 2em 1.5em 2em;
  }

  &.short {
    min-height: 200px;
  }

  &.normal {
    min-height: 350px;
  }

  &.tall {
    min-height: 500px;
  }

  .superhero-img {
    float: left;
    width: 400px;

    img.guy-pointing {
      position: absolute;
      top: 25px;
      left: 35px;
      width: 100%;
      max-width: 300px;
      z-index: 100;
    }
  }

  .superhero-content {
    position: absolute;
    right: 0;
    float: left;
    width: calc(100% - 400px);

    h2 {
      max-width: 1400px;
    }

    h4 {
      max-width: 1400px;
      font-size: $font-size-lg;
      text-transform: initial;
      line-height: 140%;;
    }
  }
}
