/*
 ____  _   _ ____  _____ ____  _   _ _____ ____   ___    _   _    ___     __
/ ___|| | | |  _ \| ____|  _ \| | | | ____|  _ \ / _ \  | \ | |  / \ \   / /
\___ \| | | | |_) |  _| | |_) | |_| |  _| | |_) | | | | |  \| | / _ \ \ / /
 ___) | |_| |  __/| |___|  _ <|  _  | |___|  _ <| |_| | | |\  |/ ___ \ V /
|____/ \___/|_|   |_____|_| \_\_| |_|_____|_| \_\\___/  |_| \_/_/   \_\_/

*/

.superhero-brand {
  padding-top: $unit-xxs;
  padding-left: $unit-lg;
  background-color: $color-primary;

  #xiri_logo {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: $color-primary;

    img {
      max-width: 100px;
    }
  }

  a {
    img{
      width: 100%;
      max-width: 120px;
    }
  }
}

.superhero-nav {
  background-color: $color-primary;

  #tw_logo {
    img {
      width: 100%;
      max-width: 140px;
      color: black;
    }
  }

  ul {
    float: right;
    width:360px;

    li {
      float: left;
      width: auto;
      padding: $unit $unit;

      a {
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
        color: $black;
        text-transform: uppercase;

        &:hover {
          color: $white;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  }
}
