<!DOCTYPE>
%html{ "ng-app" => "xiriApp" }
  %head
    %meta{ :charset => "UTF-8" }
      %title XIRI Media, LLC - www.xiri.io
      %meta{ :content => "XIRI Media, LLC - www.xiri.io", :name => "description" }
      %meta{ :content => "IE=edge", "http-equiv" => "X-UA-Compatible" }
      / To ensure proper rendering and style for mobile devices
      %meta{ :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport" }
      / Begin ## FAVICONS ## Replace the icon images with your own under img/
      %link{ :href => "img/favicon.ico", :rel => "shortcut icon" }
      -# %link{ :href => "img/apple-touch-icon.png", :rel => "apple-touch-icon" }
      -# %link{ :href => "img/apple-touch-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57" }
      -# %link{ :href => "img/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72" }
      -# %link{ :href => "img/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114" }
      -# %link{ :href => "img/apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144" }

      / Angular Spells

      / Application Spells
      %link{ :href => "bower_components/foundation-sites/dist/foundation.min.css", :rel => "stylesheet" }
      %link{ :href => "bower_components/components-font-awesome/css/font-awesome.min.css", :rel => "stylesheet" }
      %link{ :href => "css/application.min.css", :rel => "stylesheet" }


  %body{ "ng-controller" => "MainController", "ng-init" => "init()" }
    %header.bg-color.primary{ :role => "navigation" }
      .row.collapse
        .superhero-brand.medium-2.columns
          %a#xiri_logo.xiri_logo{ "scroll-to-item" => "", "scroll-to" => "#home" }
            %img{ :alt => "XIRI Logo", :src => "img/xiri_logo.png" }

        #nav-modal
          .superhero-nav.medium-10.columns.hide-for-small-only
            %ul.hide-for-all
              %li
                %a{ "scroll-to-item" => "", "scroll-to" => "#home" }
                  Home
              %li
                %a{ "scroll-to-item" => "", "scroll-to" => "#work" }
                  Work
              %li
                %a{ "scroll-to-item" => "", "scroll-to" => "#process" }
                  Process
              %li
                %a{ "scroll-to-item" => "", "scroll-to" => "#clients" }
                  Clients
              %li
                %a{ "scroll-to-item" => "", "scroll-to" => "#contact" }
                  Contact

              %li.hide-for-small-only
                %a#tw_logo.tw_logo{ :href => "http://www.thomaswicker.com", :target => "blank" }
                  %img{ :alt => "Link to thomaswicker.com", :src => "img/tw_logo.png" }
              %li.show-for-small-only
                %a{ :href => "http://www.thomaswicker.com", :target => "blank" }
                  www.thomaswicker.com

        #nav-toggle
          %i.fa.fa-bars

      .row.collapse
        %superhero.medium-12.columns.bg-color.primary
          .superhero-img
            %img.guy-pointing{ :src => "img/home_page_guy_pointing.png" }

          .superhero-content
            %h2
              Unique User Interfaces
            %h4
              Thoughtfully crafted user interfaces can empower people and strengthen brands. Our UI solutions always focus on blending empathy, creativity, and rationality to solve real problems for both users and customers.

    //Importing partials here into the template
    %ng-view

    / Magical Spells
    %script{ :src => "bower_components/jquery/dist/jquery.min.js" }

    :javascript
      $(document).ready(function() {
        var $superoHeroNav      = $('.superhero-nav'),
            $superoHeroNavBtns  = $('.superhero-nav ul li a'),
            $navToggle          = $('#nav-toggle'),
            $navModal           = $('#nav-modal');

          $navToggle.on('click', function () {
            $navModal.toggleClass('active');
          });
      });

    %script{ :src => "bower_components/foundation-sites/dist/foundation.min.js" }
    %script{ :src => "bower_components/angular/angular.min.js" }
    %script{ :src => "bower_components/angular-route/angular-route.min.js" }
    %script{ :src => "bower_components/angular-scroll/angular-scroll.min.js" }

    %script{ :src => "js/application.min.js" }
